<!--  New/ Edit Project Container-->
<section class="tps-home-container">

  <div class="tps-action-container">

    <button mat-raised-button [color]="editMode || projectFormGroup.valid ? 'primary':'accent'"
      [disabled]="(!projectFormGroup.valid || !setLoadStatus) && !projectFormGroupValid"  (click)="onLoadFiles()" matTooltip="Click to Load  Input Files">
      Load Files
      <mat-icon>upload</mat-icon>
      <span *ngIf="(projectFormGroup.valid && setLoadStatus )&&  !LoadFilesUploadVal" class="badge"><mat-icon>announcement</mat-icon></span>

    </button>

    <a href="test:">
    <button mat-raised-button [color]="  runButtonValid ? 'primary':'accent'"
      [disabled]="!runButtonStatus" (click)="onRunBtnClick($event)" matTooltip="Run Calc55 BOT">
      Run
      <mat-icon>play_arrow</mat-icon>
    </button>
</a>  
    <button mat-raised-button [color]="(projectFormGroup.valid && compDetailsValid )|| projectFormGroupValid ? 'primary':'accent'"
      [disabled]="(!projectFormGroup.valid  || !compDetailsValid || !LoadFilesUploadVal ) && (!dataValidStatus || !projectFormGroupValid) " 
      (click)="onSaveBtnClick($event)" matTooltip="Click to save">
      Save
      <mat-icon>save</mat-icon>
    </button>

    <button mat-raised-button [color]="!projectFormGroup.dirty ? 'primary':'accent'" [disabled]="true">
      Export
      <mat-icon>download</mat-icon>
    </button>

    <button mat-raised-button color="primary" matTooltip="Click to create new project" (click)="onNewBtnClick()" matTooltip="Click to Create new Project">
      New Project
      <mat-icon>add_to_photos</mat-icon>
    </button>

  </div>

  <div class="tps-content-container">

    <form novalidate [formGroup]="projectFormGroup" autocomplete="off">

      <!-- Job Number-->
      <div class="tps-form-row">
        <div class="tps-form-contol">
          <label class="tps-form-label">Job Number
            <span class="tps-input-required">*</span>
          </label>

        </div>
        <div class="tps-form-contol">
          <mat-form-field appearance="fill">
            <input matInput formControlName="name">
          </mat-form-field>
        </div>
      </div>

      <!-- Job Location-->
      <div class="tps-form-row tps-form-row-full-width">
        <div class="tps-form-contol">
          <label class="tps-form-label">
            Adf File Location
            <span class="tps-input-required">*</span>
          </label>
        </div>
        <div class="tps-form-contol">
          <mat-form-field appearance="fill" class="tps-control-full-width">
            <input matInput formControlName="location" [value]="inputFileLocation" >
          </mat-form-field>
          <button mat-icon-button [disabled]="!dataUserStatus" matTooltip="Click to upload a file" class="iconbutton" color="primary"
            (click)="onClick($event)">
            <mat-icon>folder</mat-icon>
          </button>
          <input #fileUpload type="file" class="input_fileupload--hidden" (input)="onInput($event)"
            (change)="onFileSelected($event)" accept=".adf">
          <button mat-icon-button [disabled]="!dataUserStatus" matTooltip="Click to reset" class="iconbutton" color="primary"
            (click)="onFileResetBtnClick()">
            <mat-icon>refresh</mat-icon>
          </button>

        </div>

      </div>
      <img  *ngIf="fileimg" src="./assets/compressor/fileupload.jpg" class="file-info" alt=""> 

    </form>

  </div>


  <ng-container *ngIf="showCompressorDetails" >

    <tps-calc55-compressor [data]="compressorList" [editMode]="editMode" (onCompDataChange)="compDetailChange($event)">
    </tps-calc55-compressor>

  </ng-container>

  <div *ngIf="loadmode" class="d-flex justify-content-center">
    <div class="spinner-border" role="status" >
      <span class="sr-only" id="loading"></span>
    </div>
  </div>

</section>